* {
box-sizing: border-box;
margin: 0;
padding: 0;

}
body {
    margin: 0 100px;
}

.piratesGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 10px;;
    

}
.piratesGallery img {
    width: 100%;
    box-shadow: 5px 5px 10px black;
    padding: 8px;
   
}